{% extends '__layout.twig' %}
{% import '__macros/html.twig' as html %}
{% import '__macros/form.twig' as form %}

{% block clientsActive %}active{% endblock %}

{% block main %}

	{% include '__commons/errors.twig' %}

	{% if not client %}
		{% set header = 'Add new client' %}
		{% set actions = [
			{href: '/admin/clients', btn: 'btn-outline-secondary', icon: 'arrow-left', label: 'Back to list'}
		] %}
	{% else %}
		{% set header = 'Edit existing client' %}
		{% set actions = [
			{href: '/admin/clients/view/'~client.id, btn: 'btn-outline-secondary', icon: 'arrow-left', label: 'Back to details'}
		] %}
	{% endif %}

	{{ html.header(header, [html.actions(actions)]) }}

	<form action="/admin/clients/form" method="post">
		{{ form.csrf(csrf) }}
		{{ form.hidden('id', client.id) }}
		{{ form.input('name', 'Client name', client.name, true) }}
		{{ form.textarea('description', 'Description', client.description) }}
		{{ form.submit() }}
	</form>

{% endblock %}
